<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title-detail-task">Detalhes</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/detail-task.css">
    <link rel="shortcut icon" href="img/favicon.ico" />
</head>
    <body>
        <div id="div-load">
            <img id="gif-load" src="gif/gif-loading.gif" width="12%">
        </div>
        <div class="container-fluid">
            <header id="div-header" class="row"></header>
            <div id="div-main" class="row">
                <nav id="nav-menu" class="col-sm-2">
                </nav>
                <div id="div-conteudo" class="col">
                    <div class="container-fluid">
                        <div class="row div-bar-title">
                            <div id="div-title-card" class="col">
                                <a href="home" id="btn-return">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#003f7d"
                                        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z">
                                        </path>
                                    </svg>
                                </a>
                                <a id="title-card"></a>
                            </div>
                            <div id="div-title-task" class="div-header-title col-6">
                                <span id="title-task"></span>
                                <input id="input-title-task" class="form-control" cols="60" rows="1"></input>
                            </div>
                            <div id="div-jira" class="col">
                                <a href=" " id="btn-jira" title="Ctrl+Click abre o link">Link Jira</a>
                            </div>
                            <div id="div-link-jira">
                                <span>Link:</span>
                                <input type="text" class="input-name" id="input-link-jira">
                                <button id="btn-confirm-jira" class="btn-header btn-edit btn-confirm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" fill="currentColor"
                                        class="bi bi-check-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="row div-rows-content">
                            <div id="div-dates-task" class="col div-content div-detail-task">
                                <div class="div-header-bloco-detail">
                                    <div class="div-subtitle-detail">
                                        <span class="subtitle-detail">Datas</span>
                                    </div>
                                </div>
                                <div class="div-body-bloco-date">
                                    <div class="sub-body sub-body-dates">
                                        <span>Início</span>
                                        <input type="date" class="input-dates input-dates-task" id="dt-ini-task">
                                    </div>
                                    <div class="sub-body sub-body-dates">
                                        <span>Fim</span>
                                        <input type="date" class="input-dates input-dates-task" id="dt-fim-task">
                                    </div>
                                </div>
                            </div>
                            <div id="div-desc-task" class="col-5 div-content div-detail-task">
                                <div class="div-header-bloco-detail">
                                    <div class="div-subtitle-detail">
                                        <span class="subtitle-detail">Descrição</span>
                                    </div>
                                    <div class="div-btn-detail">
                                        <button id="btn-edit-desc" class="btn-header btn-edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em"
                                                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                            </svg>
                                        </button>
                                        <button id="btn-edit-desc-cancel" class="btn-header btn-edit btn-cancel">
                                            <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-x-square"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                <path fill-rule="evenodd"
                                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </button>
                                        <button id="btn-edit-desc-confirm" class="btn-header btn-edit btn-confirm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em"
                                                fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="div-body-bloco-detail">
                                    <div id="div-txt-desc">
                                    </div>
                                    <textarea id="textarea-desc"></textarea>
                                </div>
                            </div>
                            <div id="div-alerts" class="col-3 div-content div-detail-task">
                                <div class="div-header-bloco-detail">
                                    <div class="div-subtitle-detail">
                                        <span class="subtitle-detail">Alertas</span>
                                    </div>
                                    <div id="btn-toogle-alert" class="toggle">
                                        <input type="checkbox" id="btn-alert-on-off" name="flagAlert" class="btn-on-off">
                                        <label for="btn-alert-on-off"></label>
                                    </div>
                                </div>
                                <div class="div-body-bloco-alert">
                                    <div class="sub-body sub-body-alert">
                                        <div id="btn-toogle-alert-yellow" class="toggle-yellow">
                                            <input type="checkbox" id="btn-alert-yellow" name="flagAlertYellow"
                                                class="btn-on-off">
                                            <label for="btn-alert-yellow"></label>
                                        </div>
                                        <input type="date" class="input-dates input-dates-alert" id="dt-alert-yellow">
                                    </div>
                                    <div class="sub-body sub-body-alert">
                                        <div id="btn-toogle-alert-red" class="toggle-red">
                                            <input type="checkbox" id="btn-alert-red" name="flagAlertRed"
                                                class="btn-on-off">
                                            <label for="btn-alert-red"></label>
                                        </div>
                                        <input type="date" class="input-dates input-dates-alert" id="dt-alert-red">
                                    </div>
                                    <div class="sub-body sub-body-alert">
                                        <textarea id="textarea-alert"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row div-rows-content">
                            <div id="div-annotation" class="col div-content div-detail-task">
                                <div class="div-header-bloco-detail">
                                    <div class="div-subtitle-detail">
                                        <span class="subtitle-detail">Anotações</span>
                                    </div>
                                    <div class="div-btn-detail">
                                        <button id="btn-add-annotation" class="btn-header btn-add">
                                            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-plus-circle"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path fill-rule="evenodd"
                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="div-body-bloco-annotations">
                                </div>
                            </div>
                            <div id="div-others" class="col-3 div-content div-detail-task">
                                <div class="div-subtitle-detail">
                                    <span class="subtitle-detail">Outros</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/axios.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/loader.js"></script>
        <script src="js/string-model.js"></script>
        <script src="js/detail-task.js"></script>
    </body>
</html>