<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/index.css" />
        <script src="js/axios.js"></script>
        <link rel="shortcut icon" href="img/favicon.ico" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row div-login">
                <div class="col-1 border-col">
                    <div class="div-border" id="div-line-left"></div>
                </div>
                <div class="col-3"></div>
                <div class="col-sm-4 col-xs-8">
                    <form id="login" method="POST" action="/index">
                        <div id="div-title">
                            <img src="img/logoPGA.png" width="100%" height="" id="img-logo">
                        </div>
                        <div class="form-group">
                            <label for="email">Login</label>
                            <input id="input-email" name="username" type="email" class="form-control"
                                placeholder="email@email.com">
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input id="input-password" name="password" type="password" class="form-control"
                                placeholder="*****">
                        </div>
                        <div class="form-group">
                            <button id="btn-entrar" class="btn btn-info">Entrar</button>
                        </div>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    </form>
                    <div class="row" id="div-options">
                        <div class="col"></div>
                        <div class="col-6">
                            <a id="btn-cadastrar" href="/cadastro" class="btn btn-primary btn-sm">Cadastrar</a>
                            <a href="/recuperar-senha" id="link-recSenha">Recuperar Senha</a>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="col">
                    <span id="system-version"></span>
                </div>
                <input type="hidden" id="input-version" name="version" th:value="${version}"/>
            </div>
        </div>
        <script src="js/axios.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>